.article{
  padding: 2rem 0;
}
.article h1{
  margin-left: 5rem;
  font-weight: 500;
  font-size: 2.8em;
  color: hsl(233, 26%, 24%);
}
.container2{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 90%;
  margin: 0 5rem;
  gap: 2rem;
  margin: 77px auto;
}
.container2 .div1{
  padding: 1.5rem;
  box-shadow: 5px 5px 15px 7px hsl(99.69deg 86.35% 43.1% / 22%);
  border-radius: 10px;
}
.container2 .div2{
  padding: 1.5rem;
  box-shadow: 5px 5px 15px 7px hsl(99.69deg 86.35% 43.1% / 22%);
  border-radius: 10px;
}
.container2 .div3{
  padding: 1.5rem;
  box-shadow: 5px 5px 15px 7px hsl(99.69deg 86.35% 43.1% / 22%);
  border-radius: 10px;
}
.container2 .div4{
  padding: 1.5rem;
  box-shadow: 5px 5px 15px 7px hsl(99.69deg 86.35% 43.1% / 22%);
  border-radius: 10px;
}
.container2 .div5{
  padding: 1.5rem;
  box-shadow: 5px 5px 15px 7px hsl(99.69deg 86.35% 43.1% / 22%);
  border-radius: 10px;
}
.container2 img{
  width: 100%;
  border-radius: 10px;
}
@media screen and (max-width: 960px){
  .article{
    height: auto;
    width: 100%;
  }
  .container2{
    grid-template-columns: repeat(2,1fr);
    margin: 0 auto;
  }
  
}
@media screen and (max-width: 560px){
  .article{
    height: auto;
    width: 100%;
  }
  .container2{
    grid-template-columns: 1fr;
    width: 60%;
    margin: 0 auto;
  }
  
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;

  button {
    padding: 10px;
    margin: 0 5px;
    cursor: pointer;
    border: none;
    background-color: #f0f0f0;
    transition: background-color 0.2s ease;

    &.active {
      background-color: #007bff;
      color: #fff;
    }

    &:hover {
      background-color: #007bff;
      color: #fff;
    }
  }
}

