footer{
  background-color: hsl(233, 26%, 24%);
  justify-content: space-around;
}
.footer{
display: flex;
justify-content: space-between;
}
.footer .f-logo img{
  width: 20%;
}
.foot-item{
  // display: flex;
  // justify-content: space-around;
}
.foots{
  display: flex;
  gap: 4rem;
  line-height: 2rem;
}
.foot a{
  display: block;
  color: white;
  text-decoration: none;
}

