.leadership{
  padding: 3rem 0;
}
.leadership h1{
  margin: 0 9rem;
  font-size: 3em;
  padding: 2rem 0;
}
.container3{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 70%;
  margin: 0 auto;
  gap: 3rem;
}
.container3 .leader1{
  box-shadow: 5px 5px 15px 7px hsl(220, 16%, 96%);
  border-radius: 10px;
  justify-content: center;
  padding: 0.5rem;
  text-align: center;
}
.container3 .leader1 p{
  text-align: justify;
 // color: hsl(233, 8%, 62%);
}
.container3 .leader1 img{
  width: 80%;
  height: 25vh;
  border-radius: 10px;
  margin: 0 auto;
}


@media screen and (max-width: 960px){
  .leadership{
    height: auto;
    width: 100%;
  }
  .container3{
    grid-template-columns: repeat(2,1fr);
    margin: 0 auto;
  }
  .leadership h1{
    margin: 0;
    font-size: 2.5em;
    text-align: center;
    padding: 2rem 0;
  }
  
}
@media screen and (max-width: 560px){
  .leadership{
    height: auto;
    width: 90%;
    margin: 0 auto;
    
  }
  .container3{
    grid-template-columns: 1fr;
    width: 100%;
    margin: 0 auto;
  }
  .leadership h1{
    margin: 0;
    font-size: 2.5em;
    text-align: center;
    padding: 2rem 0;
  }
  
}