.missions{
  width: 70%;
  margin: 0 auto;
  line-height: 2rem;
  background-color: hsl(0, 1%, 97%,0.9);
  padding: 2rem;
}
.missions h2{
  font-size: 3em;
  text-align: center;
  padding-bottom: 2.5rem;
  font-family:  serif;
  font-weight: 900;
}
.missions h1{
  font-size: 22px;
  font-weight: 600;
}
.missions span{
  font-weight: bold;
  font-size: 20px;
}
.mission1{
  background-image: url(../Assets/p.jpg);
  padding: 1rem;
}